/* for login */
body{
    background: url('images/silent\ valley\ national\ park1.jpg');
    background-size: cover;
    /* background-size: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}
.wrap{
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-top: 100px;
}
h2{
    text-align: center;
}
input[type=text],input[type=number],input[type=password]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.1);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}
input[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0px;
    background: #60adde;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 20px;
    opacity: 0.7;
}
input[type=submit]:hover{
    background: #003366;
    opacity: 0.7;
    cursor: pointer;
}
#error{
    font-family: cursive;
    padding-left: 70px;
}
#error_pass{
    font-family: cursive;
    padding-left: 50px;
}